body {
	font-family: Roboto, sans-serif;
}



/* Bat dau. Bieu do tuan */
.weekly-item {
	background: #bbb;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 10px 0;
	color: #fff;
}

.weekly-item > .rank {
	font-size: 25px;
	margin-right: 10px;
}


.weekly-item > .song-img {
	margin-right: 10px;
	text-align: center;
	border-radius: 5px;
}

.weekly-item > .info-song {
	flex-grow: 1;

}

.weekly-item .song-name {
	font-weight: bold;
	font-size: 15px;
}

.weekly-item .singer:link, .weekly-item .singer:visited {
	font-size: 12px;
	color: #ddd;
	text-decoration: none;
}

.weekly-item .singer:hover {
	font-size: 12px;
	color: #6e55b4;
}

.weekly-item .first {
	color: #4a90e2;
}

.weekly-item .second {
	color: #50e3c2;
}

.weekly-item .third {
	color: #4a90e2;
}

.weekly-item:hover {
	background: #eee;
}
/* Ket thuc. Bieu do tuan. */



/* Bat dau. Moi phat hanh.*/
.new-song-item {
	background: #eee;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	width: 50%;
}

.new-song-item .song-img {
	width: 100px;
	height: 100px;
	background-image: url('https://via.placeholder.com/100x200');
	background-size: cover;
	background-position: center;
	border-radius: 5px;
	margin-right: 10px;
}

.new-song-item .info {
	flex-grow: 1;
	align-items: flex-end;
}

.new-song-item .song-name {
	font-weight: bold;
}

.new-song-item .singer {
	font-size: 12px;
	text-decoration: none;
	color: #aaa;
}
.new-song-item .singer:hover {
	color: #6e55b4;
} 

.new-song-item .rank {
	font-size: 50px;
	font-weight: bold;
	-webkit-text-stroke: 2px #6e55b4;
    -webkit-text-fill-color: white;
    color: transparent;
}

.new-song-item .date-release {
	font-size: 12px;
	color: #aaa;
}

.new-song-item .align {
	display: flex;
	justify-content: flex-end;
}

.new-song-item .rank {
	display: flex;
	align-items: flex-end;
}

.new-song-item .date-release {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.new-song-item .overlay {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	display: flex;
	font-size: 50px;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.new-song-item .song-img:hover .overlay {
	opacity: 1;
}
/* Ket thuc. Moi phat hanh. */




















