<!DOCTYPE html>
<html>
<head>
	<title>Trang chu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./components.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>	


	<!-- Top Nav. Bat dau. -->
	<!-- <div class="topnav">
		<div class="logo">
			<a href="#">
				<img src="/img/logo.png"/>
			</a>
		</div>
		<div class="navigation reponsive" id="id-nav">
			<a href="#">HOME</a>
			<a href="#">ABOUT US</a>
			<a href="#">SERVICES</a>
			<a href="#">OUR TEAM</a>
			<a href="#">PORTFOLIO</a>
			<a href="#">BLOG</a>
			<a href="#">CONTACT US</a>
			<a href="javascript:void(0);" class="icon" id="toggle-nav">
				<i class="fa fa-bars"></i>
			</a>
		</div>
	</div> -->
	<!-- Top Nav. Ket thuc. -->
		

	<!-- Lam header. Bat dau. -->
	<!-- <header>
		<div class="banner-content">
			<div class="container">
				<h1 class="heading-title">RESPONSIVE SINGLE PAGE TEMPLATE</h1>
				<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<a href="#" class="link"> ABOUT US</a>	
			</div>
		</div>
		<span class="bottom-row">
			<a href="#">
				<i class="fa fa-angle-down"></i>
			</a>
		</span>
	</header>	 -->
	<!-- Lam header. Ket thuc. -->



	 <!-- Lam about-us layout. Bat dau.  -->
	 <!-- <section class="about-us">
	 	<div class="about-img"></div>
	 	<div class="about-content">
	 		<h1>ABOUT ELITE RESPONSIVE TEMPLATE</h1>
	 		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	 		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	 		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	 		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	 		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	 		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	 		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	 		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	 		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	 		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	 	</div>
	 </section> -->
	 <!-- Lam about-us layout. Ket thuc.  -->



	<!-- Lam components services. Bat dau. -->
	<!-- <div class="service-item">
		<span class="services-icon">
			<i class="fa fa-html5" aria-hidden="true"></i>
		</span>
		<h3>HTML5</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</div> -->
	<!-- Lam component services. Ket thuc. -->



	<!-- Lam component team member. Bat dau. -->
	<!-- <div class="team-member">
		<div class="member-info">
			<img src="https://picsum.photos/seed/picsum/200/300"/>
			<div class="info">
				<a href="#" class="info-link">
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
				</a>
				<a href="#" class="info-link">
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
				<a href="#" class="info-link">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<h4 class="member-name">Mary Williams</h4>
		<p>HTML, CSS, JS, Java, Git,...</p>
	</div> -->
	<!-- Lam component team member. Ket thuc. -->



	<!-- Lam component portfolio. Bat dau. -->
	<div class="portfolio-item">
		<img src="https://picsum.photos/seed/picsum/200/300/" class="image" />
		<div class="overlay">
			<i class="fa fa-search" aria-hidden="true"></i>
		</div>
	</div>
	<!-- Lam component portfolio. Ket thuc. -->



	<script type="text/javascript">

		/* Làm toggle nav khi reponsive. Bắt đầu. */
		//  var toggleNav = document.getElementById('toggle-nav');
		// toggleNav.addEventListener('click', toggleNavFn);
		// function toggleNavFn() {
		// 	var idNav = document.getElementById('id-nav');
		// 	if (idNav.className === 'navigation') {
		// 		idNav.className += ' reponsive';
		// 	} else {
		// 		idNav.className = 'navigation';
		// 	}
		// } 
		/* Làm toggle nav khi reponsive. Kết thúc. */

	</script>
	</body>
</html>